.column {
  width: 30%;
  float: left;
}

.contact {
  background-color: tan;
}

h1 {
  color: tan;
}

.before {
  background-color: pink;
}

.during {
  background-color: green;
}

.after {
  background-color: purple;
}